header {
	margin: 30px 0 0 30px;
}
.logo {
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
}
.nav-li {
	display: inline-block;
	margin-right: 22px;
}
.nav-a {
	color: #3D58A6;
	font-size: 22px;
}
.active {
	color: #EE4036;
}
.container1 {
	width: 1170px;
	margin: 77px auto 117px;
}
.container2 {
	width: 1170px;
	margin: 0 auto 68px;
}
.text-featured {
	font-size: 24px;
	margin-bottom: 30px
}
.text-inbox {
	color: #3D58A6;
	margin-bottom: 13px;
}
.left-block {
	width: 570px;
	background-color: #F2F2F2;
	display: inline-block;
	margin-right: 20px;
	padding: 11.1px 15px 24.3px 20.8px;
}
.right-block {
	width: 570px;
	background-color: #F2F2F2;
	display: inline-block;
	padding: 11.1px 15px 24.3px 20.8px;
}
.article-text {
	display: inline-block;
	width: 355px;
	vertical-align: middle;
}
.touch-image {
	vertical-align: middle;
	margin-right: 60px;
}
.phone-image {
	vertical-align: middle;
	margin-right: 60px;

}
.divider {
	width: 1px;
	height: 27px;
	background-color: #363E97;
	display: inline-block;
	margin-right: 30px;
	margin-left: 36px;
}
.index-footer {
	margin: 0 0 39px 70px;
}
/*contact styles*/
.contact-bg {
	background-color: #E6E6E6;
}
.container-contact {
	width: 1174px;
	margin: 0 auto;
}
.contact-left-block {
	display: inline-block;
	vertical-align: top;
	margin-right: 68.7px;
}
.contact-right-block {
	display: inline-block;
	vertical-align: top;
}
.container-contact {
	padding: 39px 0 66px;
	margin-top: 24px;
	margin-bottom: 32px;
}
.contact-footer {
	margin: 31px 0 28px 47px;
}
.contact-info {
	color: #3D58A6;
	font-size: 20px;
}
span {
	color: #808080;
	font-size: 16px;
}
/*news styling*/
.news-news {
	width: 1240px;
	margin: 40px auto 0;
}
.date {
	width: 56px;
	height: 56px;
	background-color: #3D58A6;
	color: white;
	font-size: 48px;
	padding: 5px 0 0 5px;
	margin-bottom: 8px;
}
.month {
	color: #3D58A6;
	font-size: 22px;
	margin-bottom: 25.5px;
}
.news-title {
	font-size: 20px;
	margin-bottom: 19px;
}
.main-news-box {
	width: 1240px;
	margin: 0 auto 40px;
}
.paragraph {
	width: 930px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.paragraph1 {
	margin-bottom: 26px;
}
.news-title{
	font-size: 20px;
}
.news-footer {
	margin: 0 0 30px 30px;
}








